# K1 MAX
# CreateDate: 2025/07/25
#Build Volume: 300×300×275 mm
#XY Rails: Full linear rails
#Parts: Fiberon PPS-CF10
#Motherboard: Manta M8P V2.0
#Z System: Triple Z
#Sensor: Cartographer v4 USB
#Extruder: DXC
#Hotend: Microswiss FlowTech™ (100W) for K2 (M3044)
#Hotend PCB Firmware: v0.13.0-557 Klipper

[include fluidd.cfg]
[include sensorless.cfg]
[include gcode_macro.cfg]
[include client.cfg]
[include KAMP_Settings.cfg]
[include timelapse.cfg]
[include shaketune.cfg]
[include M600.cfg]
[include aidetection.cfg]

#=== MCUs ===

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_3B0010001451333031373837-if00
restart_method: command

[mcu nozzle_mcu]
#serial: /dev/serial/by-path/platform-fe9c0000.xhci-usb-0:1.1:1.0-port0
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
baud: 230400
restart_method: command

[mcu cartographer]
#serial: /dev/serial/by-id/usb-Cartographer_614e_2F0001800F4330344E333720-if00 #IDM
#serial: /dev/serial/by-id/usb-Cartographer_614e_30001F00124330394D363620-if00 #Carto V3
serial: /dev/serial/by-id/usb-Cartographer_stm32g431xx_3B0045000850525537333120-if00 #Carto V4
restart_method: command # Not needed for probes using CAN.

[cartographer]
mcu: cartographer
x_offset: -22.6
y_offset: 0.0
verbose: no # For extra output

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[mcu raspberry_pi]
serial: /tmp/klipper_host_mcu

[temperature_sensor manta]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

#=== common kinematic settings ==

[printer]
kinematics: corexy
max_velocity: 350
max_accel: 40000
minimum_cruise_ratio: 0.1
square_corner_velocity: 5.0
max_z_velocity: 20
max_z_accel: 300

## Motor1
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
rotation_distance: 39
microsteps: 16
full_steps_per_rotation: 400
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_endstop: 305
position_min: 0
position_max: 305
homing_speed: 80
homing_retract_dist:0

## Motor2
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
rotation_distance: 39
microsteps: 16
full_steps_per_rotation: 400
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_endstop: -0.5
position_min: -0.5
position_max: 305.5
homing_speed: 80
homing_retract_dist:0

## Motor3
#[stepper_z]
#step_pin: PB8
#dir_pin: !PB7
#enable_pin: !PE0
#endstop_pin: ^PF2

## Motor4
# The M8P only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
#[stepper_]
#step_pin: PB4
#dir_pin: PB3
#enable_pin: !PB6
#endstop_pin: ^PF1

# Motor5
#[extruder]
#step_pin: PG13
#dir_pin: PG12
#enable_pin: !PG15

## End-Stop 5
#[filament_switch_sensor material_0]
#switch_pin: PF0

## Motor6
[stepper_z]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
microsteps: 16
rotation_distance:8
gear_ratio: 20:16
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0 # cartographer needs this to be set to 0
position_max: 275
position_min: -1

## End-Stop 6
#[filament_switch_sensor material_1]
#switch_pin: PC15

## Motor7
[stepper_z1]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 16
rotation_distance:8
gear_ratio: 20:16

## Motor8
[stepper_z2]
step_pin: PC7
dir_pin: PC8
enable_pin: !PD2
microsteps: 16
rotation_distance:8
gear_ratio: 20:16

#=== TMCs configuration ===

[autotune_tmc stepper_x]
motor: ldo-42sth48-2504macf
sgt: 2
[autotune_tmc stepper_y]
motor: ldo-42sth48-2504macf
sgt: 2
[autotune_tmc stepper_z]
motor: ldo-42sth48-2504ac
[autotune_tmc stepper_z1]
motor: ldo-42sth48-2504ac
[autotune_tmc stepper_z2]
motor: ldo-42sth48-2504ac
[autotune_tmc extruder]
#motor: bondtech-acc04stm41213 # Bondtech LGX Lite V2 Large Gears eXtruder
motor: moons-cse14hra2l410a # Creality K1C

## Motor1
[tmc5160 stepper_x]
cs_pin: PC13
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
diag1_pin: ^!PF4
interpolate: False
run_current: 1.768

## Motor2
[tmc5160 stepper_y]
cs_pin: PE3
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
diag1_pin: ^!PF3
interpolate: False
run_current: 1.768

## Motor3
#[tmc2130 stepper_z]
#cs_pin: PB9
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
##diag1_pin: PF2

## Motor4
#[tmc2130 stepper_]
#cs_pin: PB5
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
##diag1_pin: PF1

## Motor5
#[tmc2130 extruder]
#cs_pin: PG14
#spi_software_mosi_pin: PG6
#spi_software_miso_pin: PG7
#spi_software_sclk_pin: PG8
##diag1_pin: PF0

## Motor6
[tmc5160 stepper_z]
cs_pin: PG10
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
diag1_pin: ^!PC15
interpolate: False
run_current: 1.2
hold_current: 0.8

## Motor7
[tmc5160 stepper_z1]
cs_pin: PD5
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
interpolate: False
run_current: 1.2
hold_current: 0.8

## Motor8
[tmc5160 stepper_z2]
cs_pin: PC6
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7
spi_software_sclk_pin: PG8
interpolate: False
run_current: 1.2
hold_current: 0.8

[tmc2209 extruder]
uart_pin: nozzle_mcu:PB11
tx_pin: nozzle_mcu:PB10
uart_address: 3
run_current: 0.636
hold_current: 0.28
sense_resistor: 0.150
#driver_TBL: 2 ; std
#driver_TOFF: 4 ; 3 std
#driver_HEND: 3 ; 0 std
#driver_HSTRT: 0 ; 5 std

#=== heaters ===

[thermistor microswiss] ; Creality K2 hotend thermistor
temperature1:25
resistance1:260000
temperature2:220
resistance2:738
temperature3:350
resistance3:98

[extruder]
max_extrude_only_distance: 100
max_extrude_cross_section: 5 ; recommended for KAMP
step_pin: nozzle_mcu:PB1
dir_pin: nozzle_mcu:PB0
enable_pin: !nozzle_mcu:PB2
microsteps: 16
rotation_distance: 7.05  # default 6.9 # Creality
#rotation_distance: 5.62 # default 5.7 # Bondtech
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nozzle_mcu:PB7
sensor_type: microswiss
sensor_pin: nozzle_mcu:PA0
pressure_advance: 0.015
pressure_advance_smooth_time: 0.020
#control: pid
#pid_Kp: 21.582
#pid_Ki: 2.027
#pid_Kd: 57.460
min_temp: 0
max_temp: 370

[heater_bed]
heater_pin: PF5
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PB1
#control: pid
#pid_Kp: 47.536
#pid_Ki: 1.770
#pid_Kd: 319.085
min_temp: 0
max_temp: 130

#=== bed level support ===

[bed_mesh]                   
speed: 300
horizontal_move_z: 3
mesh_min: 10,10
mesh_max: 280,290
zero_reference_position: 150.0,150.0
probe_count: 40,40
fade_start: 1.0
fade_end: 10.0
mesh_pps: 0, 0
adaptive_margin: 10

[z_tilt]
z_positions:
    -42, -15
    348, -15
    150, 339
points:
    75, 50
    275, 50
    175, 250
speed: 300
horizontal_move_z: 3
retries: 5
retry_tolerance: 0.0075

[skew_correction]

#=== safety settings ===

[idle_timeout]
gcode:
    {% if printer["gcode_macro M600"].m600_state != 1 %}
        TURN_OFF_HEATERS ; hotend & bed
        M141 ; chamber heater
        M84 ; steppers
        RESPOND MSG="Idle timeout reached."
    {% endif %}
timeout: 900

#=== fans & LED ===

[duplicate_pin_override]
pins: PB0, PF9, PA2, PC5, PF8

[heater_fan hotend_fan]
pin: nozzle_mcu:PB5
tachometer_pin: ^nozzle_mcu:PB4
heater: extruder
heater_temp: 40

[temperature_sensor chamber_temp]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
min_temp: 0
max_temp: 75

[static_digital_output my_fan_output_pins]
pins: nozzle_mcu:PB6

[fan_generic part_fan]
pin: !nozzle_mcu:PB8
tachometer_pin: ^nozzle_mcu:PB3
kick_start_time: 0.300

[fan_generic side_fan]
pin: PF7

[fan_generic bed_fan]
pin: PF8

[fan_generic air_purifier]
pin: PF6

[temperature_fan chamber_fan]
pin: PF9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PB0
min_temp: 0
max_temp: 75
control: watermark
max_delta: 1
target_temp: 35
min_speed: 0.0

[temperature_fan manta_fan]
pin: PA6
tachometer_pin: PC2
shutdown_speed: 1.0
sensor_type: temperature_host
min_temp: 0
max_temp: 100
control: pid
pid_Kp: 4.0
pid_Ki: 1
pid_Kd: 0.2
target_temp: 45.0
min_speed: 0.3

[output_pin led]
pin: PA4
pwm: true
scale: 255
shutdown_value: 0.0
value: 64
cycle_time: 0.001

#=== optional G-Code features ===

[virtual_sdcard]
path: ~/printer_data/gcodes
#on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: true

[pause_resume]

[firmware_retraction]
retract_length: 0.5
retract_speed: 35
unretract_extra_length: 0
unretract_speed: 35

[gcode_arcs]
resolution: 0.3

[respond]
default_prefix:

[exclude_object]

#=== resonance compensation ===

[input_shaper]
shaper_freq_x: 83.0
shaper_type_x: ei
damping_ratio_x: 0.007
shaper_freq_y: 78.8
shaper_type_y: ei
damping_ratio_y: 0.007

[adxl345]
cs_pin: nozzle_mcu:PA4 ; Creality Toolhed MCU
spi_software_sclk_pin: nozzle_mcu:PA5
spi_software_mosi_pin: nozzle_mcu:PA7
spi_software_miso_pin: nozzle_mcu:PA6
axes_map: x,-z,y

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20

#=== filament sensors ===

[filament_switch_sensor extruder_sensor]
switch_pin: ^!nozzle_mcu:PA10
pause_on_runout: False
runout_gcode:
    M117 No filament detected at extruder
    RESPOND TYPE=error MSG="No filament at extruder !!"
    M600
insert_gcode:
    _LOAD_FILAMENT_PROMPT
debounce_delay: 0.2

[filament_switch_sensor runout_sensor]
switch_pin: ^PF10
pause_on_runout: False
    
[filament_motion_sensor jam_sensor]
switch_pin: ^PC0
detection_length: 5.8
extruder: extruder
pause_on_runout: False
runout_gcode:
    M117 Filament jam detected
    RESPOND TYPE=error MSG="Filament jammed !!"
    M600

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.582
#*# pid_ki = 2.027
#*# pid_kd = 57.460
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 47.536
#*# pid_ki = 1.770
#*# pid_kd = 319.085
#*#
#*# [skew_correction calilantern]
#*# xy_skew = 0.0022698185917668363
#*# xz_skew = 0.001103092204902567
#*# yz_skew = 0.0007000394713957448
#*#
#*# [cartographer touch_model default]
#*# threshold = 1503
#*# speed = 2
#*# z_offset = -0.12
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4255049345858384,1.9019886814150737,0.8040268652280319,0.3487801006887779,0.5587004359318278,0.6494231538026164,-0.3780162721805789,-0.5428793109627146,0.38814762440317374,0.34673960550096034
#*# domain = 3.202461838175017e-07,3.393929109897897e-07
#*# z_offset = 0
#*# reference_temperature = 32.66
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
#*#
#*# [cartographer]
#*# z_backlash = 0.00749
#*#
#*# [cartographer touch_model pei_textured]
#*# threshold = 1653
#*# speed = 2
#*# z_offset = -0.12
#*# software_version = 1.8.0
#*# mcu_version = CARTOGRAPHER v4 6.2.0
